<nav class="navbar navbar-expand-lg navbar-dark bg-black fixed-top">
    <div class="container-fluid navbar-container">
        <a class="navbar-brand michroma-font" href="#">[AM]</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link custom-nav-link michroma-font" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link custom-nav-link michroma-font" href="/projects">Work</a>
                </li>
                <li class="aboutMe nav-item">
                    <a class="nav-link custom-nav-link michroma-font" href="/aboutme">About Me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link custom-nav-link michroma-font" href="/contact">Contact Me</a>
                </li>
            </ul>
        </div>
    </div>
</nav>